.card-header {
  color: black;
  text-align: left;
}
.card-body {
  color: black;
}
.card-img-left {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 50%;
}
.card-img-right {
  width: 100px;
  height: 50px;
  margin-left: 17%;
}
.card {
  display: flex;
  margin: auto;
  height: 300px;
  width: 350px;
}
.bd-example{
  margin: auto;
  width: 1000px;
  height: 400px;


}
header{
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar{
  padding: 20px 0;

}

.navbar-brand{
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.nav-item{
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
  background: #262626;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
  color: #262626;
  padding: 5px 15px;
}
.navbar-light .navbar-toggler{
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}
